<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/components/layout :: areas(~{::title},~{::body})}">

<head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="bg-white min-h-screen">
    <section class="  text-gray-800 shadow">
        <div class="container max-w-6xl p-6 mx-auto space-y-6 sm:space-y-12">
            <a rel="noopener noreferrer" href="#"
                class="block max-w-sm gap-3 mx-auto rounded-lg sm:max-w-full group hover:no-underline focus:no-underline lg:grid lg:grid-cols-12 bg-neutral-50">
                <img src="https://source.unsplash.com/random/480x360" alt=""
                    class="object-cover w-full h-64 rounded-lg sm:h-96 lg:col-span-7 bg-gray-500">
                <div class="p-6 space-y-2 lg:col-span-5">
                    <h3 class="text-2xl font-semibold sm:text-4xl group-hover:duration-300 group-hover:text-orange-300">
                        Noster
                        tincidunt reprimique ad pro</h3>
                    <span class="text-xs text-gray-400">February 19, 2021</span>
                    <p>Ei delenit sensibus liberavisse pri. Quod suscipit no nam. Est in graece fuisset, eos affert
                        putent doctus id.</p>
                </div>
            </a>
            <div class="grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="https://source.unsplash.com/random/480x360?1">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300">In usu
                            laoreet
                            repudiare legendos</h3>
                        <span class="text-xs text-gray-400">January 21, 2021</span>
                        <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit
                            perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent
                            delicata indoctum pri.</p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="https://source.unsplash.com/random/480x360?2">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300">In usu
                            laoreet
                            repudiare legendos</h3>
                        <span class="text-xs text-gray-400">January 22, 2021</span>
                        <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit
                            perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent
                            delicata indoctum pri.</p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="https://source.unsplash.com/random/480x360?3">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300">In usu
                            laoreet
                            repudiare legendos</h3>
                        <span class="text-xs text-gray-400">January 23, 2021</span>
                        <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit
                            perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent
                            delicata indoctum pri.</p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50 hidden sm:block">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="https://source.unsplash.com/random/480x360?4">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300">In usu
                            laoreet
                            repudiare legendos</h3>
                        <span class="text-xs text-gray-400">January 24, 2021</span>
                        <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit
                            perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent
                            delicata indoctum pri.</p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50 hidden sm:block">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="https://source.unsplash.com/random/480x360?5">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300">In usu
                            laoreet
                            repudiare legendos</h3>
                        <span class="text-xs text-gray-400">January 25, 2021</span>
                        <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit
                            perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent
                            delicata indoctum pri.</p>
                    </div>
                </a>
                <a rel="noopener noreferrer" href="#"
                    class="max-w-sm mx-auto group hover:no-underline focus:no-underline bg-neutral-50 hidden sm:block">
                    <img role="presentation" class="object-cover w-full rounded-lg h-44 bg-neutral-50"
                        src="https://source.unsplash.com/random/480x360?6">
                    <div class="p-6 space-y-2">
                        <h3 class="text-2xl font-semibold group-hover:duration-300 group-hover:text-orange-300  ">In usu
                            laoreet
                            repudiare legendos</h3>
                        <span class="text-xs text-gray-400">January 26, 2021</span>
                        <p>Mei ex aliquid eleifend forensibus, quo ad dicta apeirian neglegentur, ex has tantas percipit
                            perfecto. At per tempor albucius perfecto, ei probatus consulatu patrioque mea, ei vocent
                            delicata indoctum pri.</p>
                    </div>
                </a>
            </div>
            <div class="flex justify-center">
                <button type="button"
                    class="px-6 py-3 text-sm rounded-lg join-item border px-5 border-orange-300 duration-300 text-black   hover:text-white hover:duration-300 hover:bg-orange-300 text-gray-400">Load
                    more
                    posts...</button>
            </div>
        </div>
    </section>

    <!-- ====== Blog Section Start -->
    <section class="pt-20 lg:pt-[120px] pb-10 lg:pb-20">
        <div class="container">
            <div class="flex flex-wrap justify-center -mx-4">
                <div class="w-full px-4">
                    <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[510px]">
                        <span class="font-semibold text-lg       text-orange-300 mb-2 block">
                            Our Blogs
                        </span>
                        <h2 class="
                   font-bold
                   text-3xl
                   sm:text-4xl
                   md:text-[40px]
                   text-dark
                   mb-4
                   ">
                            Our Recent News
                        </h2>
                        <p class="text-base text-body-color">
                            There are many variations of passages of Lorem Ipsum available
                            but the majority have suffered alteration in some form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                    <div class="max-w-[370px] mx-auto mb-10">
                        <div class="rounded-lg overflow-hidden mb-8">
                            <img src="https://cdn.tailgrids.com/1.0/assets/images/blogs/blog-01/image-01.jpg"
                                alt="image" class="w-full" />
                        </div>
                        <div>
                            <span class="
                            hover:text-white hover:duration-300 hover:bg-orange-300
                         border   border-orange-300
                      rounded-lg
                      inline-block
                      text-center
                      py-1
                      px-4
                      text-xs
                      leading-loose
                      font-semibold
                      text-black
                      mb-5
                      ">
                                Dec 22, 2023
                            </span>
                            <h3>
                                <a href="javascript:void(0)" class="
                         font-semibold
                         text-xl
                         sm:text-2xl
                         lg:text-xl
                         xl:text-2xl
                         mb-4
                         inline-block
                         text-dark
                        hover:text-orange-300
                         ">
                                    Meet AutoManage, the best AI management tools
                                </a>
                            </h3>
                            <p class="text-base text-body-color">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                    <div class="max-w-[370px] mx-auto mb-10">
                        <div class="rounded-lg overflow-hidden mb-8">
                            <img src="https://cdn.tailgrids.com/1.0/assets/images/blogs/blog-01/image-02.jpg"
                                alt="image" class="w-full" />
                        </div>
                        <div>
                            <span class="
                            hover:text-white hover:duration-300 hover:bg-orange-300
                            border   border-orange-300
                         rounded-lg
                         inline-block
                         text-center
                         py-1
                         px-4
                         text-xs
                         leading-loose
                         font-semibold
                         text-black
                         mb-5
                      ">
                                Mar 15, 2023
                            </span>
                            <h3>
                                <a href="javascript:void(0)" class="
                         font-semibold
                         text-xl
                         sm:text-2xl
                         lg:text-xl
                         xl:text-2xl
                         mb-4
                         inline-block
                         text-dark
                         hover:text-orange-300
                         ">
                                    How to earn more money as a wellness coach
                                </a>
                            </h3>
                            <p class="text-base text-body-color">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/3 px-4">
                    <div class="max-w-[370px] mx-auto mb-10">
                        <div class="rounded-lg overflow-hidden mb-8">
                            <img src="https://cdn.tailgrids.com/1.0/assets/images/blogs/blog-01/image-03.jpg"
                                alt="image" class="w-full" />
                        </div>
                        <div>
                            <span class="
                     hover:text-white hover:duration-300 hover:bg-orange-300
                         border   border-orange-300
                      rounded-lg
                      inline-block
                      text-center
                      py-1
                      px-4
                      text-xs
                      leading-loose
                      font-semibold
                      text-black
                      mb-5
                      ">
                                Jan 05, 2023
                            </span>
                            <h3>
                                <a href="javascript:void(0)" class="
                         font-semibold
                         text-xl
                         sm:text-2xl
                         lg:text-xl
                         xl:text-2xl
                         mb-4
                         inline-block
                         text-dark
                         hover:text-orange-300
                         ">
                                    The no-fuss guide to upselling and cross selling
                                </a>
                            </h3>
                            <p class="text-base text-body-color">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== Blog Section End -->


    <!-- start -->
    <section class=" text-gray-800">
        <div class="container flex flex-col justify-center px-4 py-8 mx-auto md:p-8">
            <h2 class="text-2xl font-semibold sm:text-4xl">Frequently Asked Questions</h2>
            <p class="mt-4 mb-8 text-gray-400">Sagittis tempor donec id vestibulum viverra. Neque condimentum
                primis orci at lacus amet bibendum.</p>
            <div class="space-y-4">
                <details class="w-full border rounded-lg">
                    <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Ex orci laoreet egestas sapien magna
                        egestas scelerisque?</summary>
                    <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-400">Lectus iaculis orci metus vitae ligula
                        dictum per. Nisl per nullam taciti at adipiscing est. </p>
                </details>
                <details class="w-full border rounded-lg">
                    <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Lorem at arcu rutrum viverra metus
                        sapien venenatis lobortis odio?</summary>
                    <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-400">Tincidunt ut hac condimentum rhoncus
                        phasellus nostra. Magna porttitor egestas tincidunt neque vehicula potenti. </p>
                </details>
                <details class="w-full border rounded-lg">
                    <summary class="px-4 py-6 focus:outline-none focus-visible:ri">Eleifend feugiat sollicitudin laoreet
                        adipiscing bibendum suscipit erat?</summary>
                    <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-gray-400">Justo libero tellus integer tincidunt justo
                        semper consequat venenatis aliquet imperdiet. Ultricies urna proin fusce nulla pretium sodales
                        vel magna et massa euismod vulputate sed. </p>
                </details>
            </div>
        </div>
    </section>
    <!-- end -->
</body>

</html>