<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/components/layout :: areas(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Library -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- icon -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- icon -->
    <!-- Library -->
</head>

<body class="bg-white min-h-screen">


    <section class="w-[80%] mx-auto my-5">
        <div class="carousel w-full rounded-box">
            <div id="slide1" class="carousel-item relative w-full rounded-lg">
                <img src="https://img.upanh.tv/2023/11/21/Banner2.png" alt="Banner2.png" class="w-full rounded-lg">
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide4" class="btn btn-circle">❮</a>
                    <a href="#slide2" class="btn btn-circle">❯</a>
                </div>
            </div>
            <div id="slide2" class="carousel-item relative w-full">
                <img src="https://img.upanh.tv/2023/11/21/Banner2.png" alt="Banner2.png" class="w-full rounded-lg">
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide1" class="btn  btn-outline">❮</a>
                    <a href="#slide3" class="btn btn-circle">❯</a>
                </div>
            </div>
            <div id="slide3" class="carousel-item relative w-full">
                <img src="https://img.upanh.tv/2023/11/21/Banner2.png" alt="Banner2.png" class="w-full rounded-lg">
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide2" class="btn btn-circle">❮</a>
                    <a href="#slide4" class="btn btn-circle">❯</a>
                </div>
            </div>
            <div id="slide4" class="carousel-item relative w-full">
                <img src="https://img.upanh.tv/2023/11/21/Banner2.png" alt="Banner2.png" class="w-full rounded-lg">
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="#slide3" class="btn btn-circle">❮</a>
                    <a href="#slide1" class="btn btn-circle">❯</a>
                </div>
            </div>
        </div>
    </section>


    <section class="w-[80%] mx-auto mt-5">
        <div class="w-full flex justify-end ">
            <div class="flex w-full gap-x-2">
                <button class="border rounded-lg px-5 py-1 border-orange-300 text-orange-300 text-2xl"><ion-icon
                        name="filter-outline"></ion-icon></button>
                <div
                    class="border  grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-5 px-5 py-2 gap-y-2 items-center rounded-lg border-orange-300 w-full text-black text-sm font-light">

                    <div class="form-control ">
                        <label class="cursor-pointer flex items-center gap-x-2">
                            <input type="checkbox" class="checkbox checkbox-warning" />
                            <span class="">Giá thấp -> cao</span>
                        </label>
                    </div>
                    <!--  -->
                    <div class="form-control">
                        <label class="cursor-pointer flex items-center gap-x-2">
                            <input type="checkbox" class="checkbox checkbox-warning" />
                            <span class="">Giá cao -> thấp</span>
                        </label>
                    </div>
                    <!--  -->
                    <div class="form-control">
                        <label class="cursor-pointer flex items-center gap-x-2 ">
                            <input type="checkbox" class="checkbox checkbox-warning" />
                            <span class="">Giá cao -> thấp</span>
                        </label>
                    </div>
                    <!--  -->
                    <div class="form-control">
                        <label class="cursor-pointer flex items-center gap-x-2 ">
                            <input type="checkbox" class="checkbox checkbox-warning" />
                            <span class="">Giá cao -> thấp</span>
                        </label>
                    </div>
                    <!--  -->
                    <div class="form-control">
                        <label class="cursor-pointer flex items-center gap-x-2  ">
                            <input type="checkbox" class="checkbox checkbox-warning" />
                            <span class="">Giá cao -> thấp</span>
                        </label>
                    </div>


                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-center gap-x-2 my-10">

            <section
                class="w-full shadow group duration-300 hover:border hover:border-orange-300 hover:duration-300 rounded-lg flex   flex-col items-center">
                <div class="w-full py-2">
                    <img class="w-[90%] mx-auto shadow rounded"
                        src="https://noithatkdt.vn/wp-content/uploads/2023/11/Ghe-go-nho-gon-cho-phong-khach-S326-8-600x600.jpg"
                        alt="">
                </div>
                <div class=" flex flex-col text-center items-center my-2 mx-2 text-black font-light gap-y-3">
                    <div class="">
                        <p>Bộ sofa êm vcl</p>
                    </div>
                    <div class="rating rating-xs">
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    </div>
                    <div class="text-orange-300 font-semibold">
                        <p>$120,000</p>
                    </div>

                    <div class="flex  duration-300   group-hover:duration-300">
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                class="text-sm" name="cart-outline"></ion-icon></a>
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                name="wallet-outline"></ion-icon></a>
                    </div>
                </div>
            </section>
            <section
                class="w-full group duration-300 hover:border hover:border-orange-300 hover:duration-300 rounded-lg flex   flex-col items-center">
                <div class="w-full py-2">
                    <img class="w-[90%] mx-auto  rounded"
                        src="https://noithatkdt.vn/wp-content/uploads/2023/11/Ghe-go-nho-gon-cho-phong-khach-S326-8-600x600.jpg"
                        alt="">
                </div>
                <div class=" flex flex-col text-center items-center my-2 mx-2 text-black font-light gap-y-3">
                    <div class="">
                        <p>Bộ sofa êm vcl</p>
                    </div>
                    <div class="rating rating-xs">
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    </div>
                    <div class="text-orange-300 font-semibold">
                        <p>$120,000</p>
                    </div>

                    <div class="flex  duration-300   group-hover:duration-300">
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                class="text-sm" name="cart-outline"></ion-icon></a>
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                name="wallet-outline"></ion-icon></a>
                    </div>
                </div>
            </section>
            <section
                class="w-full group duration-300 hover:border hover:border-orange-300 hover:duration-300 rounded-lg flex   flex-col items-center">
                <div class="w-full py-2">
                    <img class="w-[90%] mx-auto  rounded"
                        src="https://noithatkdt.vn/wp-content/uploads/2023/11/Ghe-go-nho-gon-cho-phong-khach-S326-8-600x600.jpg"
                        alt="">
                </div>
                <div class=" flex flex-col text-center items-center my-2 mx-2 text-black font-light gap-y-3">
                    <div class="">
                        <p>Bộ sofa êm vcl</p>
                    </div>
                    <div class="rating rating-xs">
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    </div>
                    <div class="text-orange-300 font-semibold">
                        <p>$120,000</p>
                    </div>

                    <div class="flex  duration-300   group-hover:duration-300">
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                class="text-sm" name="cart-outline"></ion-icon></a>
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                name="wallet-outline"></ion-icon></a>
                    </div>
                </div>
            </section>
            <section
                class="w-full group duration-300 hover:border hover:border-orange-300 hover:duration-300 rounded-lg flex   flex-col items-center">
                <div class="w-full py-2">
                    <img class="w-[90%] mx-auto  rounded"
                        src="https://noithatkdt.vn/wp-content/uploads/2023/11/Ghe-go-nho-gon-cho-phong-khach-S326-8-600x600.jpg"
                        alt="">
                </div>
                <div class=" flex flex-col text-center items-center my-2 mx-2 text-black font-light gap-y-3">
                    <div class="">
                        <p>Bộ sofa êm vcl</p>
                    </div>
                    <div class="rating rating-xs">
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    </div>
                    <div class="text-orange-300 font-semibold">
                        <p>$120,000</p>
                    </div>

                    <div class="flex  duration-300   group-hover:duration-300">
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                class="text-sm" name="cart-outline"></ion-icon></a>
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                name="wallet-outline"></ion-icon></a>
                    </div>
                </div>
            </section>
            <section
                class="w-full group duration-300 hover:border hover:border-orange-300 hover:duration-300 rounded-lg flex   flex-col items-center">
                <div class="w-full py-2">
                    <img class="w-[90%] mx-auto  rounded"
                        src="https://noithatkdt.vn/wp-content/uploads/2023/11/Ghe-go-nho-gon-cho-phong-khach-S326-8-600x600.jpg"
                        alt="">
                </div>
                <div class=" flex flex-col text-center items-center my-2 mx-2 text-black font-light gap-y-3">
                    <div class="">
                        <p>Bộ sofa êm vcl</p>
                    </div>
                    <div class="rating rating-xs">
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    </div>
                    <div class="text-orange-300 font-semibold">
                        <p>$120,000</p>
                    </div>

                    <div class="flex  duration-300   group-hover:duration-300">
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                class="text-sm" name="cart-outline"></ion-icon></a>
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                name="wallet-outline"></ion-icon></a>
                    </div>
                </div>
            </section>
            <section
                class="w-full group duration-300 hover:border hover:border-orange-300 hover:duration-300 rounded-lg flex   flex-col items-center">
                <div class="w-full py-2">
                    <img class="w-[90%] mx-auto  rounded"
                        src="https://noithatkdt.vn/wp-content/uploads/2023/11/Ghe-go-nho-gon-cho-phong-khach-S326-8-600x600.jpg"
                        alt="">
                </div>
                <div class=" flex flex-col text-center items-center my-2 mx-2 text-black font-light gap-y-3">
                    <div class="">
                        <p>Bộ sofa êm vcl</p>
                    </div>
                    <div class="rating rating-xs">
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    </div>
                    <div class="text-orange-300 font-semibold">
                        <p>$120,000</p>
                    </div>

                    <div class="flex  duration-300   group-hover:duration-300">
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                class="text-sm" name="cart-outline"></ion-icon></a>
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                name="wallet-outline"></ion-icon></a>
                    </div>
                </div>
            </section>
            <section
                class="w-full group duration-300 hover:border hover:border-orange-300 hover:duration-300 rounded-lg flex   flex-col items-center">
                <div class="w-full py-2">
                    <img class="w-[90%] mx-auto  rounded"
                        src="https://noithatkdt.vn/wp-content/uploads/2023/11/Ghe-go-nho-gon-cho-phong-khach-S326-8-600x600.jpg"
                        alt="">
                </div>
                <div class=" flex flex-col text-center items-center my-2 mx-2 text-black font-light gap-y-3">
                    <div class="">
                        <p>Bộ sofa êm vcl</p>
                    </div>
                    <div class="rating rating-xs">
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    </div>
                    <div class="text-orange-300 font-semibold">
                        <p>$120,000</p>
                    </div>

                    <div class="flex  duration-300   group-hover:duration-300">
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                class="text-sm" name="cart-outline"></ion-icon></a>
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                name="wallet-outline"></ion-icon></a>
                    </div>
                </div>
            </section>
            <section
                class="w-full group duration-300 hover:border hover:border-orange-300 hover:duration-300 rounded-lg flex   flex-col items-center">
                <div class="w-full py-2">
                    <img class="w-[90%] mx-auto  rounded"
                        src="https://noithatkdt.vn/wp-content/uploads/2023/11/Ghe-go-nho-gon-cho-phong-khach-S326-8-600x600.jpg"
                        alt="">
                </div>
                <div class=" flex flex-col text-center items-center my-2 mx-2 text-black font-light gap-y-3">
                    <div class="">
                        <p>Bộ sofa êm vcl</p>
                    </div>
                    <div class="rating rating-xs">
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    </div>
                    <div class="text-orange-300 font-semibold">
                        <p>$120,000</p>
                    </div>

                    <div class="flex  duration-300   group-hover:duration-300">
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                class="text-sm" name="cart-outline"></ion-icon></a>
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                name="wallet-outline"></ion-icon></a>
                    </div>
                </div>
            </section>
            <section
                class="w-full group duration-300 hover:border hover:border-orange-300 hover:duration-300 rounded-lg flex   flex-col items-center">
                <div class="w-full py-2">
                    <img class="w-[90%] mx-auto  rounded"
                        src="https://noithatkdt.vn/wp-content/uploads/2023/11/Ghe-go-nho-gon-cho-phong-khach-S326-8-600x600.jpg"
                        alt="">
                </div>
                <div class=" flex flex-col text-center items-center my-2 mx-2 text-black font-light gap-y-3">
                    <div class="">
                        <p>Bộ sofa êm vcl</p>
                    </div>
                    <div class="rating rating-xs">
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" checked />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                        <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    </div>
                    <div class="text-orange-300 font-semibold">
                        <p>$120,000</p>
                    </div>

                    <div class="flex  duration-300   group-hover:duration-300">
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                class="text-sm" name="cart-outline"></ion-icon></a>
                        <a href="/"
                            class="border py-1 px-3 bg-orange-300 rounded invisible duration-300 group-hover:visible group-hover:duration-300"><ion-icon
                                name="wallet-outline"></ion-icon></a>
                    </div>
                </div>
            </section>

        </div>
        <div class="w-full flex justify-center">
            <div class="join">
                <button
                    class="join-item border px-5 py-2 border-orange-300 duration-300 text-black  hover:text-white hover:duration-300 hover:bg-orange-300">«</button>
                <button
                    class="join-item border px-5 border-orange-300 duration-300 text-black   hover:text-white hover:duration-300 hover:bg-orange-300">Page
                    22</button>
                <button
                    class="join-item border border-orange-300 duration-300 text-black  px-5 py-2 hover:text-white hover:duration-300 hover:bg-orange-300">»</button>
            </div>
        </div>
    </section>






</body>

</html>