<section class=" w-[90%] md:w-[80%] my-10  mx-auto  text-black">
    <div>
        <p class="text-center font-semibold duration-300 hover:duration-300 hover:text-orange-300  text-4xl">OUR PRODUCTS</p>
    </div>
    <div class="flex  justify-center my-5 p-5 gap-x-2 md:gap-x-5 text-xs lg:text-lg font-light">
        <button
            class="duration-300 hover:duration-300 hover:text-orange-300 hover:underline hover:underline-offset-2  ">Popular</button>
        <button
            class="duration-300 hover:duration-300 hover:text-orange-300 hover:underline hover:underline-offset-2 ">Best
            Sellers</button>
        <button
            class=" duration-300 hover:duration-300 hover:text-orange-300 hover:underline hover:underline-offset-2 ">Featured</button>
        <button
            class="duration-300 hover:duration-300 hover:text-orange-300 hover:underline hover:underline-offset-2  ">New
            Products</button>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4  justify-items-center">

        <div class="" th:replace="./components/custom/_card.html"></div>
        <div class="" th:replace="./components/custom/_card.html"></div>
        <div class="" th:replace="./components/custom/_card.html"></div>
        <div class="" th:replace="./components/custom/_card.html"></div>
        <div class="" th:replace="./components/custom/_card.html"></div>
        <div class="" th:replace="./components/custom/_card.html"></div>
        <div class="" th:replace="./components/custom/_card.html"></div>
        <div class="" th:replace="./components/custom/_card.html"></div>
        
       
        
        
        

    </div>
</section>