<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="areas(title,body)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <!-- Library -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
        <!-- icon -->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <!-- icon -->
    <!-- Library -->
    <script src='https://www.google.com/recaptcha/api.js' async defer ></script>
</head>

<body>

    <div th:replace="./components/_navigation.html"></div>

    <div th:replace="./components/_header.html "></div>

    <main th:replace="${body}"></main>

    <div th:replace="./components/_footer.html"></div>

</body>

</html>